@use '@tylertech/forge/dist/forge-core.css';
@use '@tylertech/forge/dist/forge.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
}

body {
	height: 100dvh;
	-webkit-font-smoothing: antialiased;
	padding: 0;
	margin: 0;
	background-color: var(--forge-theme-surface-dim);
	overflow: auto;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
}

#root,
#__next {
	isolation: isolate;
}

// Utility classes
.padding-16 {
	padding: 16px;
}

.span-full {
	grid-column: 1/-1;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
